div{
    width: 1000px;
    height: 100px;
    background-color: rgb(218, 6, 6);
    color: rgb(201, 238, 238);
    margin: 50px auto;
    font-size: 80px;
    text-align: center;
    border-radius: 40px;
        padding: 5px;
        
    }